# Ignorar dependencias de Node
node_modules/

# Ignorar archivos de entorno local
.env

# Ignorar binarios de MPV para la build de Electron
mpv-binaries/

# Ignorar compilaciones de Electron
release_electron/

# Ignorar directorio de build
/dist/